/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* reset */
body{
    height:100vh;

}
img{
    width:100%;
}
/* common */
.flex{
    display:flex;
}
/* common */
/* header */
header{
    position: fixed;
    right:0;
    left:300px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    padding:10px 10px;

}
.btn-header{
    border-color: aliceblue;
    padding:10px 50px 10px 50px;
    background-color: #080b12;
    color:white;
}
/* buttons */
.btn{
    border-radius: 50px;
}
/* buttons */
/* header */
.page-container{
    display: flex;
    height: calc(100% - 80px);
    
}
/* aside */
aside{
    width:300px;
    background-color: blueviolet;
}
/* aside */
/* main */
main{
    width:calc(100% - 300px);
    overflow-y: auto;
    background-color: #141922;
}
/* main */
/* footer */
footer{
    height:80px;
    background-color: bisque;
}
/* footer */